<!DOCTYPE html>

<html>
<head>
    <title>Blog [Admin] | blog-xyz</title>
    {{> metalinks}}
    <link rel="stylesheet" href="/admin.styles.css" type="text/css" />
</head>
<body>
    {{> smallheader}}

    <div class="admin-content">
        <a class="admin-action add-post" href="/blog/add">New</a>

        <table class="admin-grid">
            <thead>
                <th><a href="/admin/blog/sort/id">id</a></th>
                <th>slug</th>
                <th>title</th>
                <th><a href="/admin/blog/sort/date">date</a></th>
                <th>
                    {{#if filterStatusNone}}<a href="/admin/blog/filter/status/publish">status [all]</a>{{/if}}
                    {{#if filterStatusPublished}}<a href="/admin/blog/filter/status/draft">status [published]</a>{{/if}}
                    {{#if filterStatusDraft}}<a href="/admin/blog/">status [draft]</a>{{/if}}
                </th>
                <th></th>
                <th></th>
            </thead>
            {{#each posts}}
            <tr>
                <td>{{id}}</td>
                <td style="font-family: monospace; font-weight: bold">{{slug}}</td>
                <td><a href="/blog/{{id}}" {{#if isDraft}}class="draft"{{/if}}>{{title}}</a></td>
                <td>{{date}}</td>
                <td>{{status}}</td>
                <td>
                    {{#if notCompliant}}
                        <span class="fa fa-exclamation-triangle compliance-issue" title="Post has compliance issues"></span>
                    {{/if}}
                </td>
                <td>
                    <a href="javascript:post('/admin/blog/delete/', { id: {{id}} }); refresh();"><span class="fa fa-times"></span></a>
                    {{#if isDraft}}<a href="javascript:post('/admin/blog/update/', { id: {{id}}, status: 'publish' }); refresh();"><span class="fa fa-toggle-off"></span></a>{{/if}}
                    {{#if isPublished}}<a href="javascript:post('/admin/blog/update/', { id: {{id}}, status: 'draft' }); refresh();"><span class="fa fa-toggle-on"></span></a>{{/if}}
                </td>
            </tr>
            {{/each}}
        </table>
    </div>

    <script src="/post.js"></script>

    {{> footer}}
</body>
</html>