<!DOCTYPE html>

<html>
<head>
    <title>Comments [Admin] | Jay Wick</title>
    {{> metalinks}}
    <link rel="stylesheet" href="/admin.styles.css" type="text/css" />
</head>
<body>
    {{> smallheader}}

    <table class="admin-grid comments-grid">
        <thead>
            <th>local time</th>
            <th>author</th>
            <th>ip</th>
            <th>post</th>
            <th>message</th>
            <th>status</th>
        </thead>
        {{#each comments}}
        <tr {{#if isUnread}}class="unread"{{/if}}>
            <td>{{localTime}}</td>
            <td>{{author}}</td>
            <td>{{ip}}</td>
            <td width="200px"><a href="/blog/{{post.id}}">{{post.title}}</a></td>
            <td width="400px">{{text}}</td>
            <td>
                {{#if isPending}}<a href="javascript:post('/blog/save/approve-comment/', { id: '{{_id}}', state: true }); refresh();"><span class="fa fa-toggle-off"></span></a>{{/if}}
                {{#if isApproved}}<a href="javascript:post('/blog/save/approve-comment/', { id: '{{_id}}', state: false }); refresh();"><span class="fa fa-toggle-on"></span></a>{{/if}}
            </td>
        </tr>
        {{/each}}
    </table>

    <script src="/post.js"></script>
    {{> footer}}
</body>
</html>