<!DOCTYPE html>

<html>
<head>
    <title>Logs [Admin] | Jay Wick</title>
    {{> metalinks}}
    <link rel="stylesheet" href="/admin.styles.css" type="text/css" />
</head>
<body>
    {{> smallheader}}

    <div class="admin-content">
        <h2>Logs</h2>
        <div class="admin-grid-options">
            <div class="result-info">Total of {{totalCount}} records</div>
            <span>Filters:</span>
            <input id="filter-stat" type="checkbox" {{#if hasStatFilter}}checked{{/if}} onclick="javascript:updateFilter()"/><label for="filter-stat">stat</label>
            <input id="filter-log"  type="checkbox" {{#if hasLogFilter}}checked{{/if}}  onclick="javascript:updateFilter()"/> <label for="filter-log">log</label>
            <input id="filter-warn" type="checkbox" {{#if hasWarnFilter}}checked{{/if}} onclick="javascript:updateFilter()"/> <label for="filter-warn">warn</label>
            <input id="filter-fail" type="checkbox" {{#if hasFailFilter}}checked{{/if}} onclick="javascript:updateFilter()"/> <label for="filter-fail">fail</label>
        </div>

        <table class="admin-grid">
            <thead>
                <th width="160">time (local)</th>
                <th width="100">ip</th>
                <th width="100">severity</th>
                <th>message</th>
            </thead>
            {{#each logs}}
            <tr>
                <td>{{localTime}}</td>
                <td>{{ip}}</td>
                <td><span class="fa {{iconClass}}"></span> {{severity}}</td>
                <td>{{message}}</td>
            </tr>
            {{/each}}
        </table>

        <div class="admin-pagination">
            <a class="page" href="/admin/logs" {{#if isFirstPage}}disabled{{/if}}>First</a>
            <a class="page" href="/admin/logs?page={{prevPage}}" {{#if isFirstPage}}disabled{{/if}}>Prev</a>
            <span class="page-info">Page {{currentPage}} of {{lastPage}}</span>
            <a class="page" href="/admin/logs?page={{nextPage}}" {{#if isLastPage}}disabled{{/if}}>Next</a>
            <a class="page" href="/admin/logs?page={{lastPage}}" {{#if isLastPage}}disabled{{/if}}>Last</a>
        </div>
    </div>

    <script>
        function updateFilter() {
            var newFilter = [ 
                peek("#filter-stat") && "stat" || null,
                peek("#filter-log") && "log"   || null,
                peek("#filter-warn") && "warn" || null,
                peek("#filter-fail") && "fail" || null
            ].filter(x => x != null)
            .join(",");

            if (window.location.search === "") {
                window.location.href += "?filter=severity:" + newFilter;
                return;
            }

            window.location = window.location.href.replace(/\bseverity:(.+)?/, "severity:" + newFilter);
        }
    </script>

    <script src="/post.js"></script>
    {{> footer}}
</body>
</html>