<!DOCTYPE html>

<html>
<head>
    <title>Portfolio [Admin] | blog-xyz</title>
    {{> metalinks}}
    <link rel="stylesheet" href="/admin.styles.css" type="text/css" />
</head>
<body>
    {{> smallheader}}

    <div class="admin-content">
        <a class="add-project" href="/portfolio/add">New</a>

        <table class="admin-grid">
            <thead>
                <th><a href="/admin/portfolio/sort/key">key</a></th>
                <th><a href="/admin/portfolio/sort/title">title</a></th>
                <th><a href="/admin/portfolio/sort/score/desc">score</a></th>
                <th>
                    {{#if filterStatusNone}}<a href="/admin/portfolio/filter/status/publish">status [all]</a>{{/if}}
                    {{#if filterStatusPublished}}<a href="/admin/portfolio/filter/status/draft">status [published]</a>{{/if}}
                    {{#if filterStatusDraft}}<a href="/admin/portfolio/">status [draft]</a>{{/if}}
                </th>
            </thead>
            {{#each projects}}
            <tr>
                <td style="font-family: monospace; font-weight: bold">{{key}}</td>
                <td><a href="/portfolio/{{key}}" {{#if isDraft}}class="draft"{{/if}}>{{title}}</a></td>
                <td>{{score}}</td>
                <td>
                    <a href="javascript:post('/admin/portfolio/delete/', { key: '{{key}}' }); refresh();"><span class="fa fa-times"></span></a>
                    {{#if isDraft}}<a href="javascript:post('/admin/portfolio/update/', { key: '{{key}}', status: 'publish' }); refresh();"><span class="fa fa-toggle-off"></span></a>{{/if}}
                    {{#if isPublished}}<a href="javascript:post('/admin/portfolio/update/', { key: '{{key}}', status: 'draft' }); refresh();"><span class="fa fa-toggle-on"></span></a>{{/if}}
                </td>
            </tr>
            {{/each}}
        </table>
    </div>

    <script src="/post.js"></script>

    {{> footer}}
</body>
</html>