<!DOCTYPE html>

<html>
<head>
    <title>Blog | blog-xyz</title>
    {{> metalinks}}
</head>
<body>
    {{> smallheader}}

    {{#each posts}}
    <div class="blog-summary-container">
        <div class="blog-summary">
            <div class="blog-meta-top">
                <span class="blog-date">{{humanizedDate}}</span>
                <span class="blog-meta-separator">&bull;</span>
                <span class="blog-minutes">{{readTime}} min read</span>
                {{#any commentCount}}
                    <span class="blog-meta-separator">&bull;</span>
                    <span class="blog-comments">{{commentCount}} response{{#plural commentCount}}{{/plural}}</span>
                {{/any}}
            </div>
            {{#if ../isAdmin}}
                <span class="blog-status {{status}}">{{status}}</span>
            {{/if}}
            <a href="/blog/{{id}}/{{slug}}" class="title-link-summary"><h2 class="blog-title">{{title}}</h2></a>
            <img class="post-feature-image" src="{{{featureImageUrl}}}">
            <p>{{{truncatedHtml}}}</p>
            <a class="continue-reading" href="/blog/{{id}}/{{slug}}">Continue reading</a>
        </div>
    </div>
    {{/each}}

    <hr style="width: 800px" />

    <div class="paging">
        <a class="paging-action" href="{{paging.olderPageUrl}}">&laquo Older posts</a>

        {{#if paging.newerPageUrl}}
        <a class="paging-action" href="{{paging.newerPageUrl}}">Newer posts &raquo</a>
        {{/if}}
    </div>

    {{> footer}}
</body>
</html>