<!DOCTYPE html>

<html>
<head>
    <title>Blog | blog-xyz</title>
    {{> metalinks}}
</head>
<body>
    {{> smallheader}}

    <div class="filter-description-panel">
        <div class="filter-description">
            You are viewing all blog posts tagged <span class="tag-name">{{tag}}</span>
        </div>
    </div>

    {{#each posts}}
    <div class="blog-summary-container">
        <div class="blog-summary">
            <div class="blog-date">{{humanizedDate}}</div>
            {{#if ../isAdmin}}
                <span class="blog-status {{status}}">{{status}}</span>
            {{/if}}
            <a href="/blog/{{id}}/{{slug}}" class="title-link-summary"><h2 class="blog-title">{{title}}</h2></a>
            <img class="post-feature-image" src="{{{featureImageUrl}}}">
            <p>{{{truncatedHtml}}}</p>
            <a class="continue-reading" href="/blog/{{id}}/{{slug}}">Continue reading</a>
        </div>
    </div>
    {{/each}}

    {{> footer}}
</body>
</html>