<!DOCTYPE html>

<html>
<head>
    <title>blog-xyz</title>
    {{> metalinks}}
    {{#if isAdmin}}
    <link rel="stylesheet" href="/admin.styles.css" type="text/css" />
    {{/if}}
    <meta name="Description" content="blog-xyz by Jay Wick">
    <meta name="keywords" content="blog,portfolio,profile,projects,about me,home page">
    <meta name="author" content="your name here!">
</head>
<body>
    <header id="frontpage-header">
        {{#if isAdmin}}
        <div id="admin-nav-panel">
            <ul id="admin-nav">
                <li><a href="/blog/add" title="Create new post">+</a></li>
                <li><a href="/admin/blog" title="List all posts">Posts</a></li>
                <li class="group-starter" title="Create new project"><a href="/portfolio/add">+</a></li>
                <li><a href="/admin/portfolio" title="List all projects">Projects</a></li>
                <li class="group-starter" title="List all logs"><a href="/admin/logs">Logs</a></li>
                <li class="right-align" title="Log out of Admin mode"><a href="/logout">Logout</a></li>
            </ul>
        </div>
        {{/if}}
        <div id="nav-toggler"><a href="javascript:toggleNavMenu()"><span class="fa fa-bars"></span></a></div>
        <ul id="nav">
            <li><a href="/blog">Blog</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <h1 id="main-title">Hi, this is <strong>blog-xyz</strong>,</h1>
        <div id="main-subtitle"></div>
        <ul id="nav-menu" class="home-menu" style="display: none;">
            <li class="home-menu-close"><a href="javascript:toggleNavMenu()"><span class="fa fa-times"></span></a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </header>

    <div class="frontpage-section frontpage-section-posts">
        <h2 class="frontpage-section-header">Recent posts</h2>
        <div class="frontpage-section-summary">
            Check out my <a href="/blog">blog</a>.
        </div>
        <ul class="frontpage-posts">
            {{#each posts}}
            <li>
                <div class="frontpage-post-thumbnail" style="background-image: url('{{featureImageUrl}}')"></div>
                <a href="/blog/{{id}}/{{slug}}"><h3 class="frontpage-post-title">{{title}}</h3></a>
                <div class="frontpage-post-date">{{relativeDate}}</div>
                <div class="frontpage-post-summary">{{{summary}}}</div>
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="frontpage-section frontpage-section-works">
        <h2 class="frontpage-section-header">Latest work</h2>
        <div class="frontpage-section-summary">
            Checkout my <a href="/portfolio">portfolio</a> for more!
        </div>

        <div class="frontpage-works">
            {{#each projects}}
            <a class="frontpage-work" href="/portfolio/{{key}}">
                <div class="frontpage-work-thumbnail" style="background-image: url('{{featureImageUrl}}')"></div>
                <div class="frontpage-work-title">{{title}}</div>
            </a>
            {{/each}}
        </div>
    </div>

    {{> footer}}
    <script src="ui.js"></script>
    <script>
        function toggleNavMenu() {
            var navMenu = document.querySelector("#nav-menu");
            var navTogglerIcon = document.querySelector("#nav-toggler > a > span");

            if (navMenu.style.display === "none") {
                // open
                navMenu.style.display = "block";
                navTogglerIcon.className = "";
            } else {
                // close
                navMenu.style.display = "none";
                navTogglerIcon.className = "fa fa-bars";
            }
        }
    </script>
</body>
</html>